
body {
   background-image: url('images/cats.png');  
   background-repeat: no-repeat;
   background-position-x: center;
   background-size: 100vw;
   margin: 0;
   padding: 0;
   font-family: monospace, Arial, sans-serif;
   background-color: grey;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   box-sizing: border-box;
   cursor: url('images/paw32.png'), auto;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
} 

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0px;
  text-align: center;
}

.logo{
   padding: 1.5rem 0 1rem;
}

.logo h2{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0;
  padding: 1rem 0;
  background: linear-gradient(to right, black, rgb(255, 255, 255));
  background-clip: text;
  color: transparent;
}

.logo h2 span {
  font-size: 3.5rem;
}

.logo p{
   background: linear-gradient(to right,rgb(158, 151, 151), rgb(46, 43, 43));
   background-clip: text;
   color: transparent;
   font-size: 1rem;
   font-weight: bold;
}

.select-wrapper {
  margin: 20px 0;
}

#selectBreed {
  background-color: white;
  font-size: .8rem;
  padding: 1px;
  cursor: url('images/paws32.png'), auto;
}

#breed-collection {
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
   padding: 0px 0;
 }

.card {
  align-items: left;
  background: #FFFF;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 18em;
  height: 35rem;
  margin: 1rem 2rem;
  overflow: auto;
}
   
.card:hover {
  box-shadow: 0 5px 8px 0;
  transition: 0.5s
}

.img {
  text-align: center;
  height: 40px;
}

.card-img > img{
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#cat-breed {
  font-weight: bolder;
  font-size: small;
  text-align: center;
}

.cat-descriptions {
  padding: 0.5rem;
  text-align: left;
  font-size: x-small;
}

p {
  padding-bottom: 0px;
}

button{
   color: white;
   font-size: small;
   background: grey;
   border: 3px solid #A8A8A8;
   font-size: 0.6rem;
   padding: .2em .7em;
   border-radius: .25em;
   cursor: url('images/paws32.png');
 }

.hide {
  display: none
}

#footer {
  text-align: center;
  margin: 0 auto;
  position: static;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}